# Ignore everything
/*

# Except these files & folders
!/data
!/src/components
!/src/context
!/src/hooks
!/src/pages
!/src/sections
!/src/styles
!/src/utils
!/.github
!tsconfig.json
!tailwind.config.js 
!postcss.config.js 
!next.config.js 
!package.json
!.prettierrc
!.eslintrc.json
